/* Header styles */

header {
  display: flex;
  overflow-x: hidden;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 5px #0000000d;
  position: sticky; 
  top: 0; 
  z-index: 10; 
}


header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  width: 156px; 
  height: auto;
  object-fit: contain;
}

header .logo span {
  font-size: 1.75rem; 
  font-weight: bold;
  color: #007BFF;
}

header nav {
  display: flex;
  gap: 48px; 
}

header nav a {
  text-decoration: none;
  color: #666;
  font-family: "Poppins",sans-serif;
  font-size: 20px; 
  font-weight: 400;
  transition: color 0.3s;
}

header nav a:hover {
  color: #007BFF;
}


/* TABLET VIEW */

@media (max-width: 768px) and (min-width: 480px) {

  header .logo img{
    width: 120px;
  }

  header nav{
      gap:24px;
  }
  
  header nav a {
      font-size: 18px; 
  }
}


/* MOBILE VIEW */

@media (max-width: 480px) {
        
  header .logo img{
      width: 80px;
      object-fit: contain;
  }

  header nav {
      gap:16px;
  }

  header nav a {
      font-size: 12px; 
  }

}