body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
}

/* page structure should be
[head] [head]
[side] [main]
[foot] [foot]
*/
header {
  grid-column: 1 / 3;
  grid-row: 1;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
}

.container {
  grid-column: 2;
  grid-row: 2;
  padding: 50px;
}

footer {
  grid-column: 1 / 3;
  grid-row: 3;
}

/* specific to page*/
/* individual btn */

h2 {
  color: #1a73e8;
}
.toggle-btn {
  display: inline-flex;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  position: relative;
  width: 200px;
  border-radius: 20px;
  user-select: none;
}

.toggle-btn .settings {
  display: flex;
  flex: 1;
  z-index: 1;
}

.toggle-btn .left,
.toggle-btn .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: color 0.5s;
}

.toggle-btn .slider {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  background-color: #39a6ff;
  width: 50%;
  border-radius: 20px;
  transition: left 0.5s;
}

.toggle-btn.active .slider {
  left: calc(100% - 100px);
}

.toggle-btn.active .left {
  color: #ccc;
}

.toggle-btn.active .right {
  color: white;
}

.toggle-btn:not(.active) .left {
  color: white;
}

.toggle-btn:not(.active) .right {
  color: #ccc;
}

.reset-btn {
  color: #015696;
  border-radius: 20px;
}


@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .row {
    gap: 20px; 
  }
}

@media (max-width: 480px) {
  .container {
    gap: 20px;
    font-size: 12px;
    position: relative;
    left: -100px;
    /* to fix */
  }

  .row {
    gap: 20px; 
  }
}